*{
    margin: 0;
    padding: 0;
  }
  
body{
    background-image: url('backdrop.png');
}
.overlay{
    position: relative;
    top: 650px;
    width: auto;
    height: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn-box a {
    width: 300px;
    height: 100%;
    background: #2BDAE1;
    border: 2px solid #2BDAE1;
    border-radius: 8px;
    font-size: 25px;
    color: #0B0B21;
    text-decoration: none;
    font-weight: 600;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
}
#arrow{
    height: 40px;
    width: 40px;
    align-items: center;
}
.btn-box{
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav {
    width: 100%;
    height: 70px;
    background-color: rgb(1, 1, 10);
    opacity: 0.5;
    top: 0px;
}
.nav-left{
    justify-self: left;
    float: left;
    height: 50px;
    width: 50px;
    padding-left: 20px;
}
.nav-right{
    position: absolute;
    right: 0px;
    padding-right: 20px;
}
.nav-right a {
    padding: 10px;
}